header{
    border: 2px solid;
    font-size: 40px;
    text-align: center;
    background-color:rebeccapurple;
    border-color: wheat;
    padding-top: 40px;
    height: 100px;
    width: 100%;
    word-spacing: 10px;
    color:white;
    position: absolute;
}
.logo-img{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 60px;
    bottom: 20px;
}
.logo{
    position: absolute;
    top: 40px; left: 40px;
}
.rect_box{
    height:35px;
    width: 100vh;
}
body{
    margin: 0;
    padding:0;
    font-family:sans-serif;
}
.box{
    width:300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.boxh1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding:14px 10px;
    width: 220px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: #ffc400ec;
}
.box input[type="submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"].hover{
    background: #ffc400ec;
}

.footer-section{
    height: 30px;
    width:100%;
    position: absolute;
    bottom: 20px;
    background-color: black;
    color: wheat;
    text-align: center;
    padding:20px;
}
.form-container{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}